{% INCLUDECSS '@david63_registercheck/registercheck.css' %}

<script>
	var emailCheckRoute		= '{{ UA_EMAIL_CHECK | escape('js') }}';
	var emailAvailable 		= '{{ lang('EMAIL_AVAILABLE') | escape('js') }}';
	var emailNotAvailable 	= '{{ lang('EMAIL_NOT_AVAILABLE') | escape('js') }}';

	var nameCheckRoute		= '{{ UA_NAME_CHECK | escape('js') }}';
	var nameAvailable 		= '{{ lang('NAME_AVAILABLE') | escape('js') }}';
	var nameNotAvailable 	= '{{ lang('NAME_NOT_AVAILABLE') | escape('js') }}';

	var passwordCheckRoute	= '{{ UA_PASSWORD_CHECK | escape('js') }}';
	var passwordMatch 		= '{{ lang('PASSWORDS_MATCH') | escape('js') }}';
	var passwordNotMatch 	= '{{ lang('PASSWORDS_NOT_MATCH') | escape('js') }}';
</script>

{% INCLUDEJS '@david63_registercheck/registercheck_fn.js' %}
